<%- include ('includes/head.ejs') %> 
<%- include ('includes/header.ejs') %>

<h1>Voeg een profiel toe</h1>
<form action="/profiles" method="post">
  <input name="naam" placeholder="Naam">
  <input name="geslacht" placeholder="Geslacht">
  <input name="leeftijd" placeholder="Leeftijd">
  <textarea name="bio" rows="3" placeholder="Schrijf hier een stukje over jezelf"> </textarea>
  <button>Bekijk jouw matches</button>
</form>

<%- include ('includes/footer.ejs') %>