<%- include ('includes/head.ejs') %>

   <div class="quiz-questions">
     <img src="images/logo1.png" alt="logo van Match">
     <form action="/answers">
        <input type="radio" id="a" name="antwoord" value="a">
        <label for="a">A</label><br>
        <input type="radio" id="b" name="antwoord" value="b">
        <label for="b">B</label><br>
        <input type="radio" id="c" name="antwoord" value="c">
        <label for="c">C</label><br>
        <input type="radio" id="d" name="antwoord" value="d">
        <label for="d">D</label>
        <a href="/profiles">verder</a>
     </form>
   </div>

